


/* Big tablets 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
    
    .circle {
                margin:auto;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                width: 300px;
                height: 300px;
                margin-top: -150px;
                margin-left:-150px;
                border-radius: 50%;
                background-color:#FBD740;
          
            }
    
}


/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px){
    .circle {
            margin:auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            width: 300px;
            height: 300px;
            margin-top: -150px;
            margin-left:-150px;
            border-radius: 50%;
            background-color:#FBD740;
        }
    }

    .introduction {
        margin-top: 35%;
        width:90%;
        margin-left: 7%;  
    }

    .description {
        width: 80%;  
        margin-left: 7%;
        margin-top: 20px;
        letter-spacing: 2px;
    }  

    .socials {
    margin-top:10PX;
    padding-left: 7%;
    font-size: 1.5em;
    }
    
    .introduction h1 {
    font-size: 45px;
    }
    
    .description h2{
    font-size: 20px;
    }
    
    .description h3{
    font-size: 20px;
    }


/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px){

    html{
        padding: 12px;
        color: #555;
        background-color:#EDECED;
        height: 100%;
    }
    
    .circle {
        margin:auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left:-100px;
        border-radius: 50%;
        background-color:#FBD740;
}
    
}

/* Small phones: from 0 to 414px */
@media only screen and (max-width: 414px){
    html{
        padding: 10px;
        color: #555;
        background-color:#EDECED;
        height: 100%;
    }
    .circle {
        margin:auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left:-100px;
        border-radius: 50%;
        background-color:#FBD740;
    }
    .introduction {
        margin-top: 20%;
        width:80%;
        margin-left: 10%;  
    }

    .description {
        width: 80%;  
        margin-left: 10%;
        margin-top: 20px;
        letter-spacing: 2px;
    }  
    .socials {
    margin-top:10PX;
    padding-left: 10%;
    color: #474747;
    font-size: 1.2em;
    }
    
    .introduction h1 {
    font-size: 45px;
    }
    
    .description h2{
    font-size: 17px;
    }
    
    .description h3{
    font-size: 17px;
    }
}

/* Small phones: from 0 to 414px */
@media only screen and (max-width: 375px){
    html{
        padding: 10px;
        color: #555;
        background-color:#EDECED;
        height: 100%;
    }
    .circle {
        margin:auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left:-100px;
        border-radius: 50%;
        background-color:#FBD740;
    }
    .introduction {
        margin-top: 25%;
        margin-left: 10%;  
    }

    .description {
        width: 80%;  
        margin-left: 10%;
        margin-top:30px;
        letter-spacing: 2px;
    }  
    .socials {
    margin-top:10PX;
    padding-left: 10%;
    color: #474747;
    font-size: 1em;
    }
    
    .introduction h1 {
    font-size: 35px;
    }
    
    .description h2{
    font-size: 15px;
    }
    
    .description h3{
    font-size: 12px;
    }
}